<a href="https://colab.research.google.com/github/Josh1313/-sales-propensity-models-/blob/main/1_4_Exploring_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Leer el archivo pickle
df = pd.read_pickle("/content/drive/MyDrive/TFM/pkl.data_TFM/PREPROCESAMIENTO_KMEANS.pkl")

In [ ]:
df.head()

,Unique_ID_client,duracion_meses,product10,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,tiempo_entre_compras_mismo_producto,tiempo_desde_ultima_compra_otro_partition,tiempo_entre_compras_mismo_producto_partition,entry_year,entry_month,entry_day,pk_partition_year,pk_partition_month,pk_partition_day,zona
entry_date,,,,,,,,,,,,,,,,,,,,,
2015-01-01,622277,53,False,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,2015,1,1,2019,5,28,Europe
2015-01-02,1000394,53,True,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,2015,1,2,2019,5,28,Europe
2015-01-02,1000554,53,False,KFC,0.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,2015,1,2,2019,5,28,Europe
2015-01-02,1000552,53,True,KFC,1.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,2015,1,2,2019,5,28,Europe
2015-01-02,1000551,53,True,KFC,1.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,2015,1,2,2019,5,28,Europe

In [ ]:
df['product10'] = df['product10'].astype(int)
df['product40'] = df['product40'].astype(int)
df['product60'] = df['product60'].astype(int)

In [ ]:
print(df.columns)

Index(['Unique_ID_client', 'duracion_meses', 'product10', 'entry_channel',
       'active_customer', 'segment', 'short_term_deposit', 'loans', 'mortgage',
       'funds', 'securities', 'long_term_deposit', 'Cuenta easyMoney++',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'Cuenta easyMoney Crypto', 'debit_card', 'Cuenta easyMoney+',
       'Cuenta easyMoney', 'country_id', 'region_code', 'gender', 'age',
       'deceased', 'salary', 'product40', 'product60', 'dias_entre_compras',
       'tiempo_desde_ultima_compra_otro',
       'tiempo_entre_compras_mismo_producto',
       'tiempo_desde_ultima_compra_otro_partition',
       'tiempo_entre_compras_mismo_producto_partition', 'entry_year',
       'entry_month', 'entry_day', 'pk_partition_year', 'pk_partition_month',
       'pk_partition_day', 'zona'],
      dtype='object')

In [ ]:
# Definimos las columnas de los productos financieros
product10_columns = ['Cuenta easyMoney', 'Cuenta easyMoney+', 'Cuenta easyMoney++', 'Cuenta easyMoney Crypto']
product40_columns = ['funds', 'long_term_deposit', 'pension_plan', 'securities', 'short_term_deposit']
product60_columns = ['credit_card', 'debit_card', 'loans', 'mortgage']

# Calculamos las ganancias por cliente en función de los productos vendidos
df['Total profit by client'] = (df[product10_columns].sum(axis=1) * 10 +
                                df[product40_columns].sum(axis=1) * 40 +
                                df[product60_columns].sum(axis=1) * 60)

# Agrupamos por cliente, mes y año para calcular las ganancias correspondientes
data_grouped1 = df.groupby(['Unique_ID_client', 'entry_year', 'entry_month'])['Total profit by client'].sum().reset_index()

# Calculamos las ganancias por cliente, por mes y por año
data_grouped1['Total profit by M'] = data_grouped1.groupby(['Unique_ID_client', 'entry_year', 'entry_month'])['Total profit by client'].transform('sum')
data_grouped1['Total profit by Y'] = data_grouped1.groupby(['Unique_ID_client', 'entry_year'])['Total profit by client'].transform('sum')

In [ ]:
data_grouped1

,Unique_ID_client,entry_year,entry_month,Total profit by client,Total profit by M,Total profit by Y
0,15891,2018,7,10,10,10
1,16063,2018,11,0,0,0
2,16203,2018,12,0,0,0
3,16502,2018,9,0,0,0
4,17457,2017,9,50,50,50
...,...,...,...,...,...,...
456364,1553685,2019,5,0,0,0
456365,1553686,2019,5,0,0,0
456366,1553687,2019,5,0,0,0
456367,1553688,2019,5,0,0,0
456368,1553689,2019,5,0,0,0

In [ ]:
product10_columns = ['Cuenta easyMoney', 'Cuenta easyMoney+', 'Cuenta easyMoney++', 'Cuenta easyMoney Crypto']
product40_columns = ['funds', 'long_term_deposit', 'pension_plan', 'securities', 'short_term_deposit']
product60_columns = ['credit_card', 'debit_card', 'loans', 'mortgage']

# Calculamos las ganancias por cliente en función de los productos vendidos
df['Profit by Client(10)'] = df[product10_columns].sum(axis=1) * 10
df['Profit by Client(40)'] = df[product40_columns].sum(axis=1) * 40
df['Profit by Client(60)'] = df[product60_columns].sum(axis=1) * 60

# Agrupamos por cliente, mes y año para calcular las ganancias correspondientes
data_grouped_10 = df.groupby(['Unique_ID_client', 'entry_year', 'entry_month'])['Profit by Client(10)'].sum().reset_index()
data_grouped_40 = df.groupby(['Unique_ID_client', 'entry_year', 'entry_month'])['Profit by Client(40)'].sum().reset_index()
data_grouped_60 = df.groupby(['Unique_ID_client', 'entry_year', 'entry_month'])['Profit by Client(60)'].sum().reset_index()

# Calculamos las ganancias por cliente, por mes y por año
data_grouped_10['Profit by M(10)'] = data_grouped_10.groupby(['Unique_ID_client', 'entry_month'])['Profit by Client(10)'].transform('sum')
data_grouped_10['Profit by Y(10)'] = data_grouped_10.groupby(['Unique_ID_client', 'entry_year'])['Profit by Client(10)'].transform('sum')
data_grouped_40['Profit by M(40)'] = data_grouped_40.groupby(['Unique_ID_client', 'entry_month'])['Profit by Client(40)'].transform('sum')
data_grouped_40['Profit by Y(40)'] = data_grouped_40.groupby(['Unique_ID_client', 'entry_year'])['Profit by Client(40)'].transform('sum')
data_grouped_60['Profit by M(60)'] = data_grouped_60.groupby(['Unique_ID_client', 'entry_month'])['Profit by Client(60)'].transform('sum')
data_grouped_60['Profit by Y(60)'] = data_grouped_60.groupby(['Unique_ID_client', 'entry_year'])['Profit by Client(60)'].transform('sum')

In [ ]:
# Combina los DataFrames por Unique_ID_client y entry_year, entry_month
merged_df = data_grouped_10.merge(data_grouped_40, on=['Unique_ID_client', 'entry_year', 'entry_month'], how='outer')
merged_df = merged_df.merge(data_grouped_60, on=['Unique_ID_client', 'entry_year', 'entry_month'], how='outer')
merged_df = merged_df.merge(data_grouped1, on=['Unique_ID_client', 'entry_year', 'entry_month'], how='outer')

# Elimina duplicados basados en Unique_ID_client
merged_df = merged_df.drop_duplicates(subset=['Unique_ID_client'])

# Imprime el DataFrame resultante
print(merged_df)

        Unique_ID_client  entry_year  entry_month  Profit by Client(10)  \
0                  15891        2018            7                    10
1                  16063        2018           11                     0
2                  16203        2018           12                     0
3                  16502        2018            9                     0
4                  17457        2017            9                    10
...                  ...         ...          ...                   ...
456364           1553685        2019            5                     0
456365           1553686        2019            5                     0
456366           1553687        2019            5                     0
456367           1553688        2019            5                     0
456368           1553689        2019            5                     0

        Profit by M(10)  Profit by Y(10)  Profit by Client(40)  \
0                    10               10                     0
1                     0                0                     0
2                     0                0                     0
3                     0                0                     0
4                    10               10                    40
...                 ...              ...                   ...
456364                0                0                     0
456365                0                0                     0
456366                0                0                     0
456367                0                0                     0
456368                0                0                     0

        Profit by M(40)  Profit by Y(40)  Profit by Client(60)  \
0                     0                0                     0
1                     0                0                     0
2                     0                0                     0
3                     0                0                     0
4                    40               40                     0
...                 ...              ...                   ...
456364                0                0                     0
456365                0                0                     0
456366                0                0                     0
456367                0                0                     0
456368                0                0                     0

        Profit by M(60)  Profit by Y(60)  Total profit by client  \
0                     0                0                      10
1                     0                0                       0
2                     0                0                       0
3                     0                0                       0
4                     0                0                      50
...                 ...              ...                     ...
456364                0                0                       0
456365                0                0                       0
456366                0                0                       0
456367                0                0                       0
456368                0                0                       0

        Total profit by M  Total profit by Y
0                      10                 10
1                       0                  0
2                       0                  0
3                       0                  0
4                      50                 50
...                   ...                ...
456364                  0                  0
456365                  0                  0
456366                  0                  0
456367                  0                  0
456368                  0                  0

[456369 rows x 15 columns]

In [ ]:
# Combina el DataFrame merged_df con el DataFrame original df usando outer join
final_merged_df = df.merge(merged_df, on=['Unique_ID_client', 'entry_year', 'entry_month'], how='outer')

# Elimina duplicados basados en Unique_ID_client
#final_merged_df = final_merged_df.drop_duplicates(subset=['Unique_ID_client'])

In [ ]:
final_merged_df

,Unique_ID_client,duracion_meses,product10,entry_channel,active_customer,segment,short_term_deposit,loans,mortgage,funds,...,Profit by Y(10),Profit by Client(40)_y,Profit by M(40),Profit by Y(40),Profit by Client(60)_y,Profit by M(60),Profit by Y(60),Total profit by client_y,Total profit by M,Total profit by Y
0,622277,53,0,KAT,1.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,0,60,60,60,60,60,60
1,1000394,53,1,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,10,0,0,0,0,0,0,10,10,10
2,1000554,53,0,KFC,0.0,02 - PARTICULARES,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1000552,53,1,KFC,1.0,02 - PARTICULARES,0,0,0,0,...,10,40,40,40,120,120,120,170,170,170
4,1000551,53,1,KFC,1.0,03 - UNIVERSITARIO,0,0,0,0,...,20,0,0,0,120,120,120,140,140,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456364,1553554,0,0,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456365,1553555,0,0,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456366,1553556,0,0,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456367,1553549,0,0,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
456368,1553689,0,0,KHE,0.0,03 - UNIVERSITARIO,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
print(final_merged_df.columns)

Index(['Unique_ID_client', 'duracion_meses', 'product10', 'entry_channel',
       'active_customer', 'segment', 'short_term_deposit', 'loans', 'mortgage',
       'funds', 'securities', 'long_term_deposit', 'Cuenta easyMoney++',
       'credit_card', 'payroll', 'pension_plan', 'payroll_account',
       'Cuenta easyMoney Crypto', 'debit_card', 'Cuenta easyMoney+',
       'Cuenta easyMoney', 'country_id', 'region_code', 'gender', 'age',
       'deceased', 'salary', 'product40', 'product60', 'dias_entre_compras',
       'tiempo_desde_ultima_compra_otro',
       'tiempo_entre_compras_mismo_producto',
       'tiempo_desde_ultima_compra_otro_partition',
       'tiempo_entre_compras_mismo_producto_partition', 'entry_year',
       'entry_month', 'entry_day', 'pk_partition_year', 'pk_partition_month',
       'pk_partition_day', 'zona', 'Total profit by client_x',
       'Profit by Client(10)_x', 'Profit by Client(40)_x',
       'Profit by Client(60)_x', 'Profit by Client(10)_y', 'Profit by M(10)',
       'Profit by Y(10)', 'Profit by Client(40)_y', 'Profit by M(40)',
       'Profit by Y(40)', 'Profit by Client(60)_y', 'Profit by M(60)',
       'Profit by Y(60)', 'Total profit by client_y', 'Total profit by M',
       'Total profit by Y'],
      dtype='object')

In [ ]:
final_merged_df.to_csv('final_merged_df.csv', index=False)  # El argumento index=False evita que se incluya la columna de índice en el archivo

print("DataFrame guardado en 'final_merged_df.csv'")

DataFrame guardado en 'final_merged_df.csv'